body{
 background-color: #E05548;
 margin: auto;
}
.container-fluid {
  padding-right: 0px;
  padding-left: 0px; 
  margin-right: auto;
  margin-left: auto;
}
.hero {
  height: 525px;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
.rotateLetters {
  -webkit-transform: rotate(-7deg);
  -moz-transform: rotate(-7deg);
  -o-transform: rotate(-7deg);
  transform: rotate(-7deg);
  margin-left: 10%;
  float: left;
  margin-top: 0%;
  margin-bottom: 0%;
}
.rhomboid {
  width: 260px;
  height: 50px;
 background-color: #FFFFFF;
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -o-transform: skew(-20deg);
  transform: skew(-20deg);
  margin-left: 25px;
 }
 .rhomboidTwo{
  width: 290px;
  height: 30px;
 background-color: #FFFFFF;
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -o-transform: skew(-20deg);
  transform: skew(-20deg);
  margin-left: -4px;
 }
 .rhomboidThree{
  width: 160px;
  height: 30px;
  background-color: #FFFFFF;
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -o-transform: skew(-20deg);
  transform: skew(-20deg);
  margin-left: 50px;
 }
.reyes {
  width: 150px;
  height: 160px;
  float: left;
  margin: 35px 0px 0px 116px;
  overflow: hidden;
  border: 4px solid #FFFFFF;
  border-radius: 30px;
}
.reyes img {
  height: 295px;
  width: 232px;
  margin: -22% -51%;
}
.chevron {
  background-color: #E05548;
  float: left;
  margin-top: 30px;
  width: 100%;
  overflow: hidden;
}
.rhomboid1 {
  width: 68%;
  height: 50px;
  background-color: #FFFFFF;
  -webkit-transform: skew(65deg);
  -moz-transform: skew(65deg);
  -o-transform: skew(65deg);
  transform: skew(70deg);
  margin-left: -19%;
}
.rhomboid2 {
  width: 75%;
  height: 50px;
  background-color: #FFFFFF;
  -webkit-transform: skew(-65deg);
  -moz-transform: skew(-65deg);
  -o-transform: skew(-65deg);
  transform: skew(-70deg);
  float: right;
  margin-right: -27%;
  margin-top: -50px;
}
.name {
  font-size: 30px;
  color: #E05548;
  padding: 7px 15px 15px 25px;
  margin: 40px 0 0 0;
}
.jobType {
  font-size: 19px;
  color: #E05548;
  padding: 3px 0px 0px 66px;
  margin: 10px 0 10px 0;
}
.porfolio {
  font-size: 19px;
  color: #E05548;
  padding: 3px 0px 0px 33px;
  margin: 10px 0 0 0;
}
.contact {
  height: 100px;
  margin-left: 0%;
  float: left;
  margin-top: 0px;
  width: 100%;
  padding-top: 14px;
}
.contact li {
  float: left;
  list-style: none;
  display: inline;
  height: 72px;
  width: 44%;
  padding: 0px 0 0 40px;
}
.me {
  font-size: 62px;
  color: #FFFFFF;
}
.glyphicon {
  position: relative;
  top: 15px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 62px;
  color: #FFFFFF;
}
 .clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.about {
  background-color: #FFFFFF;
  width: 100%;
  height: 220px;
  font-family: 'Open Sans', sans-serif;
  color: #2E3847;
  display: none;
  float: left;
}
.aboutContainer {
  width: 88%;
  height: 200px;
  padding-top: 0px;
  float: left;
  margin-left: 8%;
}
.mail {
  background-color: #FFFFFF;
  width: 100%;
  height: 335px;
  font-family: 'Open Sans', sans-serif;
  color: #2E3847;
  display: none;
  float: left;
}
textarea.form-control {
  height: auto;
  margin-bottom: 10px;
}
.form-control {
  margin-bottom: 10px;
}
.mailContainer {
  width: 88%;
  height: 270px;
  padding-top: 0px;
  float: left;
  margin-left: 8%;
}
.projects {
  width: 100%;
  height: 270px;
  background-color: #EEEEEF;
  float: left;
}
 .projects h1 {
  text-align: center;
  padding: 10% 45%;
  color: gray;
 }
.carousel {
  position: relative;
  width: 104%;
  margin-left: 0%;
}
.carousel-inner {
  position: relative;
  width: 100%;
  height: 270px;
  overflow: hidden;
}
.carousel-inner>.item {
  -webkit-transition: -webkit-transform .6s ease-in-out;
  -o-transition: -o-transform .6s ease-in-out;
  transition: transform .6s ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
  height: 635px;
}
.carousel-control {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
  filter: alpha(opacity=50);
  opacity: 0;
}
footer {
  width: 100%;
  height: 240px;
  background-color: #2E3847;
  float: left;
}
.social {
  height: 115px;
  margin-left: 19.5%;
}
 .social li {
  float: left;
  list-style: none;
  display: inline;
  height: 84px;
  width: 84px;
  padding: 10px 1% 0 0;
}
 .social .linkedin a {
  float: left;
  background: url(../img/social_button.png) 0px 0px no-repeat;
  height: 84px;
  width: 84px;
 }
 .social .twitter a {
  float: left;
  background: url(../img/social_button.png) -336px 0px no-repeat;
  height: 84px;
  width: 84px;
}
footer h2 {
  text-align: center;
  color: #FFFFFF;
  padding-top: 10px;
}
footer p {
  text-align: center;
  color: #FFFFFF;
}

/* Small devices (tablets, 667px and up) ******************************************************************** */
@media (min-width: 667px) {
.container-fluid {
  padding-right: 0px;
  padding-left: 0px; 
  margin-right: auto;
  margin-left: auto;
}
.hero {
  height: 350px;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
.rotateLetters {
  -webkit-transform: rotate(-7deg);
  -moz-transform: rotate(-7deg);
  -o-transform: rotate(-7deg);
  transform: rotate(-7deg);
  margin-left: 8%;
  float: left;
  margin-top: 0%;
  margin-bottom: 0%;
}
.rhomboid {
  width: 260px;
  height: 50px;
 background-color: #FFFFFF;
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -o-transform: skew(-20deg);
  transform: skew(-20deg);
  margin-left: 25px;
 }
 .rhomboidTwo{
  width: 290px;
  height: 30px;
 background-color: #FFFFFF;
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -o-transform: skew(-20deg);
  transform: skew(-20deg);
  margin-left: -4px;
 }
 .rhomboidThree{
  width: 160px;
  height: 30px;
  background-color: #FFFFFF;
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -o-transform: skew(-20deg);
  transform: skew(-20deg);
  margin-left: 50px;
 }
.reyes {
  width: 150px;
  height: 160px;
  float: left;
  margin: 23px 0px 0px 71px;
  overflow: hidden;
  border: 4px solid #FFFFFF;
  border-radius: 30px;
}
.reyes img {
  height: 295px;
  width: 232px;
  margin: -26% -55%;
}
.chevron {
  background-color: #E05548;
  float: left;
  margin-top: 30px;
  width: 715px;
  overflow: hidden;
}
.rhomboid1 {
  width: 68%;
  height: 50px;
  background-color: #FFFFFF;
  -webkit-transform: skew(65deg);
  -moz-transform: skew(65deg);
  -o-transform: skew(65deg);
  transform: skew(70deg);
  margin-left: -19%;
}
.rhomboid2 {
  width: 75%;
  height: 50px;
  background-color: #FFFFFF;
  -webkit-transform: skew(-65deg);
  -moz-transform: skew(-65deg);
  -o-transform: skew(-65deg);
  transform: skew(-70deg);
  float: right;
  margin-right: -27%;
  margin-top: -50px;
}
.name {
  font-size: 30px;
  color: #E05548;
  padding: 7px 15px 15px 25px;
  margin: 40px 0 0 0;
}
.jobType {
  font-size: 19px;
  color: #E05548;
  padding: 3px 0px 0px 66px;
  margin: 10px 0 10px 0;
}
.porfolio {
  font-size: 19px;
  color: #E05548;
  padding: 3px 0px 0px 33px;
  margin: 10px 0 0 0;
}
.contact {
  height: 100px;
  margin-left: 15%;
  float: left;
  margin-top: 0px;
  width: 90%;
  padding-top: 20px;
}
.contact li {
  float: left;
  list-style: none;
  display: inline;
  height: 72px;
  width: 44%;
  padding: 0px 0 0 40px;
}
.me {
  font-size: 62px;
  color: #FFFFFF;
}
.glyphicon {
  position: relative;
  top: 15px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 62px;
  color: #FFFFFF;
}
 .clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.about {
  background-color: #FFFFFF;
  width: 715px;
  height: 190px;
  font-family: 'Open Sans', sans-serif;
  color: #2E3847;
  display: none;
  float: left;
}
.aboutContainer {
  width: 88%;
  height: 165px;
  padding-top: 0px;
  float: left;
  margin-left: 10%;
}
.mail {
  background-color: #FFFFFF;
  width: 715px;
  height: 335px;
  font-family: 'Open Sans', sans-serif;
  color: #2E3847;
  display: none;
  float: left;
}
textarea.form-control {
  height: auto;
  margin-bottom: 10px;
}
.mailContainer {
  width: 70%;
  height: 270px;
  padding-top: 0px;
  float: left;
  margin-left: 20%;
}
.projects {
  width: 100%;
  height: 465px;
  background-color: #EEEEEF;
  margin-top: 0px;
  float: left;
}
 .projects h1 {
  text-align: center;
  padding: 10% 45%;
  color: gray;
 }
.carousel {
  position: relative;
  width: 700px;
  height: 349px;
}
.carousel-inner {
  position: relative;
  width: 100%;
  height: 465px;
  overflow: hidden;
}
.carousel-inner>.item {
  -webkit-transition: -webkit-transform .6s ease-in-out;
  -o-transition: -o-transform .6s ease-in-out;
  transition: transform .6s ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
  height: 635px;
}
.carousel-control {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
  filter: alpha(opacity=50);
  opacity: 0;
}
footer {
  width: 715px;
  height: 361px;
  background-color: #2E3847;
  float: left;
}
.social {
  height: 100px;
  margin-left: 32.5%;
}
 .social li {
  float: left;
  list-style: none;
  display: inline;
  height: 84px;
  width: 84px;
  padding: 10px 1% 0 0;
}
 .social .linkedin a {
  float: left;
  background: url(../img/social_button.png) 0px 0px no-repeat;
  height: 84px;
  width: 84px;
 }
 .social .twitter a {
  float: left;
  background: url(../img/social_button.png) -336px 0px no-repeat;
  height: 84px;
  width: 84px;
}
footer h2{
    text-align: center;
    color:#FFFFFF;
    padding-top: 50px;
}
footer p {
  text-align: center;
  color: #FFFFFF;
  margin: 25px 0px;
}
 }
 /* Small devices (tablets, 768px and up) ******************************************************************** */
@media (min-width: 768px) {
.container-fluid {
  padding-right: 0px;
  padding-left: 0px; 
  margin-right: auto;
  margin-left: auto;
}
.hero {
  height: 391px;
  width: 100%;
}
.rotateLetters {
  -webkit-transform: rotate(-7deg);
  -moz-transform: rotate(-7deg);
  -o-transform: rotate(-7deg);
  transform: rotate(-7deg);
  margin-left: 19%;
  float: left;
  margin-top: 3%;
  margin-bottom: 0%;
}
.rhomboid {
  width: 260px;
  height: 50px;
 background-color: #FFFFFF;
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -o-transform: skew(-20deg);
  transform: skew(-20deg);
  margin-left: 25px;
 }
 .rhomboidTwo{
  width: 290px;
  height: 30px;
 background-color: #FFFFFF;
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -o-transform: skew(-20deg);
  transform: skew(-20deg);
  margin-left: -4px;
 }
 .rhomboidThree{
  width: 160px;
  height: 30px;
  background-color: #FFFFFF;
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -o-transform: skew(-20deg);
  transform: skew(-20deg);
  margin-left: 50px;
 }
.reyes {
  width: 150px;
  height: 160px;
  float: left;
  margin: 42px 0px 0px -15px;
  overflow: hidden;
  border: 4px solid #FFFFFF;
  border-radius: 30px;
}
.reyes img {
  height: 295px;
  width: 232px;
  margin: -26% -55%;
}
.chevron {
  background-color: #E05548;
  float: left;
  margin-top: 30px;
  width: 103%;
  overflow: hidden;
}
.rhomboid1 {
  width: 68%;
  height: 50px;
  background-color: #FFFFFF;
  -webkit-transform: skew(65deg);
  -moz-transform: skew(65deg);
  -o-transform: skew(65deg);
  transform: skew(70deg);
  margin-left: -21%;
}
.rhomboid2 {
  width: 75%;
  height: 50px;
  background-color: #FFFFFF;
  -webkit-transform: skew(-65deg);
  -moz-transform: skew(-65deg);
  -o-transform: skew(-65deg);
  transform: skew(-70deg);
  float: right;
  margin-right: -33%;
  margin-top: -50px;
}
.name {
  font-size: 30px;
  color: #E05548;
  padding: 7px 15px 15px 25px;
  margin: 40px 0 0 0;
}
.jobType {
  font-size: 19px;
  color: #E05548;
  padding: 3px 0px 0px 66px;
  margin: 10px 0 10px 0;
}
.porfolio {
  font-size: 19px;
  color: #E05548;
  padding: 3px 0px 0px 33px;
  margin: 10px 0 0 0;
}
.contact {
  height: 100px;
  margin-left: 20%;
  float: left;
  margin-top: 10px;
  width: 74%;
}
.contact li {
  float: left;
  list-style: none;
  display: inline;
  height: 80px;
  width: 25%;
  padding: 0px 0px 0 10px;
  margin-left: 40px;
  margin-right: 72px;
}
.me {
  font-size: 62px;
  color: #FFFFFF;
}
.glyphicon {
  position: relative;
  top: 15px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 62px;
  color: #FFFFFF;
}
 .clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.about {
  background-color: #FFFFFF;
  width: 103%;
  height: 175px;
  font-family: 'Open Sans', sans-serif;
  color: #2E3847;
  display: none;
  float: left;
}
.aboutContainer {
  width: 88%;
  height: 165px;
  float: left;
  padding-left: 10%;
  padding-right: 10%;
}
.mail {
  background-color: #FFFFFF;
  width: 103%;
  height: 335px;
  font-family: 'Open Sans', sans-serif;
  color: #2E3847;
  display: none;
  float: left;
}
textarea.form-control {
  height: auto;
  margin-bottom: 10px;
}
.mailContainer {
  width: 65%;
  height: 270px;
  padding-top: 0px;
  float: left;
  margin-left: 20%;
}
.projects {
  width: 103%;
  height: 627px;
  background-color: #EEEEEF;
  margin-top: 0px;
  float: left;
}
 .projects h1 {
  text-align: center;
  padding: 10% 45%;
  color: gray;
 }
.carousel {
  position: relative;
  width: 102%;
  height: 630px;
}
.carousel-inner {
  position: relative;
  width: 100%;
  height: 734px;
  overflow: hidden;
}
.carousel-inner>.item {
  -webkit-transition: -webkit-transform .6s ease-in-out;
  -o-transition: -o-transform .6s ease-in-out;
  transition: transform .6s ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
  height: 635px;
}
.carousel-control {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
  filter: alpha(opacity=50);
  opacity: 0;
}
footer {
  width: 103.1%;
  height: 362px;
  background-color: #2E3847;
  float: left;
}
.social {
  height: 100px;
  padding-top: 20px;
  margin-left: 35.5%;
}
 .social li {
  float: left;
  list-style: none;
  display: inline;
  height: 84px;
  width: 84px;
  padding: 10px 1% 0 0;
}
 .social .linkedin a {
  float: left;
  background: url(../img/social_button.png) 0px 0px no-repeat;
  height: 84px;
  width: 84px;
 }
 .social .twitter a {
  float: left;
  background: url(../img/social_button.png) -336px 0px no-repeat;
  height: 84px;
  width: 84px;
}
footer h2{
    text-align: center;
    color:#FFFFFF;
    padding-top: 50px;
}
footer p {
  text-align: center;
  color: #FFFFFF;
  margin: 60px 5px;
}
 }

/* Medium devices (tablets, 1024px and up) ******************************************************************** */
@media (min-width: 1024px) {
.container-fluid {
  padding-right: 0px;
  padding-left: 0px; 
  margin-right: auto;
  margin-left: auto;
}
.hero {
  height: 387px;
  width: 100%;
}
.rotateLetters {
  -webkit-transform: rotate(-7deg);
  -moz-transform: rotate(-7deg);
  -o-transform: rotate(-7deg);
  transform: rotate(-7deg);
  margin-left: 18%;
  float: left;
  margin-top: 1%;
  margin-bottom: 0%;
}
.rhomboid {
  width: 260px;
  height: 50px;
 background-color: #FFFFFF;
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -o-transform: skew(-20deg);
  transform: skew(-20deg);
  margin-left: 25px;
 }
 .rhomboidTwo{
  width: 290px;
  height: 30px;
 background-color: #FFFFFF;
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -o-transform: skew(-20deg);
  transform: skew(-20deg);
  margin-left: -4px;
 }
 .rhomboidThree{
  width: 160px;
  height: 30px;
  background-color: #FFFFFF;
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -o-transform: skew(-20deg);
  transform: skew(-20deg);
  margin-left: 50px;
 }
.reyes {
  width: 150px;
  height: 160px;
  float: left;
  margin: 42px 0px 0px -70px;
  overflow: hidden;
  border: 4px solid #FFFFFF;
  border-radius: 30px;
}
.reyes img {
  height: 295px;
  width: 232px;
  margin: -26% -55%;
}
.chevron {
  background-color: #E05548;
  float: left;
  margin-top: 30px;
  width: 103%;
  overflow: hidden;
}
.rhomboid1 {
  width: 68%;
  height: 50px;
  background-color: #FFFFFF;
  -webkit-transform: skew(65deg);
  -moz-transform: skew(65deg);
  -o-transform: skew(65deg);
  transform: skew(70deg);
  margin-left: -23%;
}
.rhomboid2 {
  width: 75%;
  height: 50px;
  background-color: #FFFFFF;
  -webkit-transform: skew(-65deg);
  -moz-transform: skew(-65deg);
  -o-transform: skew(-65deg);
  transform: skew(-70deg);
  float: right;
  margin-right: -28%;
  margin-top: -50px;
}
.name {
  font-size: 30px;
  color: #E05548;
  padding: 7px 15px 15px 25px;
  margin: 40px 0 0 0;
}
.jobType {
  font-size: 19px;
  color: #E05548;
  padding: 3px 0px 0px 66px;
  margin: 10px 0 10px 0;
}
.porfolio {
  font-size: 19px;
  color: #E05548;
  padding: 3px 0px 0px 33px;
  margin: 10px 0 0 0;
}
.contact {
  height: 100px;
  margin-left: 18%;
  float: left;
  margin-top: 10px;
  width: 74%;
}
.contact li {
  float: left;
  list-style: none;
  display: inline;
  height: 72px;
  width: 23%;
  padding: 0px 0 0 40px;
  margin-right: 113px;
}
.me {
  font-size: 62px;
  color: #FFFFFF;
}
.glyphicon {
  position: relative;
  top: 15px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 62px;
  color: #FFFFFF;
}
 .clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.about {
  background-color: #FFFFFF;
  width: 103%;
  height: 175px;
  font-family: 'Open Sans', sans-serif;
  color: #2E3847;
  display: none;
  float: left;
}
.aboutContainer {
  width: 88%;
  height: 165px;
  float: left;
  padding-left: 10%;
  padding-right: 10%;
}
.mail {
  background-color: #FFFFFF;
  width: 103%;
  height: 335px;
  font-family: 'Open Sans', sans-serif;
  color: #2E3847;
  display: none;
  float: left;
}
textarea.form-control {
  height: auto;
  margin-bottom: 10px;
}
.mailContainer {
  width: 60%;
  height: 270px;
  padding-top: 0px;
  float: left;
  margin-left: 22%;
}
.projects {
  width: 103%;
  height: 715px;
  background-color: #EEEEEF;
  margin-top: 0px;
  float: left;
}
 .projects h1 {
  text-align: center;
  padding: 10% 45%;
  color: gray;
 }
.carousel {
  position: relative;
  width: 1070px;
  height: 735px;
}
.carousel-inner {
  position: relative;
  width: 100%;
  height: 734px;
  overflow: hidden;
}
.carousel-inner>.item {
  -webkit-transition: -webkit-transform .6s ease-in-out;
  -o-transition: -o-transform .6s ease-in-out;
  transition: transform .6s ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
  height: 635px;
}
.carousel-control {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
  filter: alpha(opacity=50);
  opacity: 0;
}
footer {
  width: 103%;
  height: 362px;
  background-color: #2E3847;
  float: left;
}
.social {
  height: 100px;
  padding-top: 20px;
  margin-left: 38.5%;
}
 .social li {
  float: left;
  list-style: none;
  display: inline;
  height: 84px;
  width: 84px;
  padding: 10px 1% 0 0;
}
 .social .linkedin a {
  float: left;
  background: url(../img/social_button.png) 0px 0px no-repeat;
  height: 84px;
  width: 84px;
 }
 .social .twitter a {
  float: left;
  background: url(../img/social_button.png) -336px 0px no-repeat;
  height: 84px;
  width: 84px;
}
footer h2{
    text-align: center;
    color:#FFFFFF;
    padding-top: 50px;
}
footer p{
  text-align: center;
  color:#FFFFFF;
   margin: 65px 5px;
}
 }
 /* Large devices (Desktop, 1920px and up) ******************************************************************** */
@media (min-width: 1920px) {
.container-fluid {
  padding-right: 0px;
  padding-left: 0px; 
  margin-right: auto;
  margin-left: auto;
}
.hero {
  height: 412px;
  width: 100%;
}
.rotateLetters {
  -webkit-transform: rotate(-7deg);
  -moz-transform: rotate(-7deg);
  -o-transform: rotate(-7deg);
  transform: rotate(-7deg);
  margin-left: 25%;
  float: left;
  margin-top: 1%;
  margin-bottom: 0%;
}
.rhomboid {
  width: 260px;
  height: 50px;
 background-color: #FFFFFF;
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -o-transform: skew(-20deg);
  transform: skew(-20deg);
  margin-left: 25px;
 }
 .rhomboidTwo{
  width: 290px;
  height: 30px;
  background-color: #FFFFFF;
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -o-transform: skew(-20deg);
  transform: skew(-20deg);
  margin-left: -4px;
 }
 .rhomboidThree{
  width: 160px;
  height: 30px;
  background-color: #FFFFFF;
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -o-transform: skew(-20deg);
  transform: skew(-20deg);
  margin-left: 50px;
 }
.reyes {
  width: 150px;
  height: 160px;
  float: left;
  margin: 70px 0px 105px -305px;
  overflow: hidden;
  border: 4px solid #FFFFFF;
  border-radius: 30px;
}
.reyes img {
  height: 295px;
  width: 232px;
  margin: -26% -55%;
}
.chevron {
  background-color: #E05548;
  float: left;
  margin-top: 30px;
  width: 100%;
  overflow: hidden;
}
.rhomboid1 {
  width: 68%;
  height: 50px;
  background-color: #FFFFFF;
  -webkit-transform: skew(65deg);
  -moz-transform: skew(65deg);
  -o-transform: skew(65deg);
  transform: skew(70deg);
  margin-left: -23%;
}
.rhomboid2 {
  width: 75%;
  height: 50px;
  background-color: #FFFFFF;
  -webkit-transform: skew(-65deg);
  -moz-transform: skew(-65deg);
  -o-transform: skew(-65deg);
  transform: skew(-70deg);
  float: right;
  margin-right: -26%;
  margin-top: -50px;
}
.name {
  font-size: 30px;
  color: #E05548;
  padding: 7px 15px 15px 25px;
  margin: 40px 0 0 0;
}
.jobType {
  font-size: 19px;
  color: #E05548;
  padding: 3px 0px 0px 66px;
  margin: 10px 0 10px 0;
}
.porfolio {
  font-size: 19px;
  color: #E05548;
  padding: 3px 0px 0px 33px;
  margin: 10px 0 0 0;
}
.contact {
  height: 100px;
  margin-left: 18%;
  float: left;
  margin-top: 10px;
  width: 74%;
  display: none;
}
.contact li {
  float: left;
  list-style: none;
  display: inline;
  height: 72px;
  width: 23%;
  padding: 0px 0 0 40px;
  margin-right: 113px;
}
.me {
  font-size: 62px;
  color: #FFFFFF;
}
.glyphicon {
  position: relative;
  top: 15px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 62px;
  color: #FFFFFF;
}
 .clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.about {
  background-color: #FFFFFF;
  width: 100%;
  height: 175px;
  font-family: 'Open Sans', sans-serif;
  color: #2E3847;
  float: left;
  display: block;
}
.aboutContainer {
  width: 76%;
  height: 165px;
  float: left;
  padding-left: 20%;
  padding-right: 20%;
}
.mail {
  background-color: #FFFFFF;
  width: 100%;
  height: 335px;
  font-family: 'Open Sans', sans-serif;
  color: #2E3847;
  float: left;
  display: block;
}
textarea.form-control {
  height: auto;
  margin-bottom: 10px;
}
.mailContainer {
  width: 36%;
  height: 270px;
  padding-top: 0px;
  float: left;
  margin-left: 30%;
}
.projects {
  width: 100%;
  height: 985px;
  background-color: #EEEEEF;
  margin-top: 0px;
  float: left;
}
 .projects h1 {
  text-align: center;
  padding: 10% 45%;
  color: gray;
 }
.carousel {
  position: relative;
  width: 1920px;
  height: 985px;
  background-color: #FFFFFF;
}
.carousel-inner {
  position: relative;
  width: 66%;
  height: 985px;
  overflow: hidden;
  margin: 0 auto;
  background-color: #FFFFFF;
}
.carousel-inner>.item {
  -webkit-transition: -webkit-transform .6s ease-in-out;
  -o-transition: -o-transform .6s ease-in-out;
  transition: transform .6s ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
  height: 985px;
}
.carousel-control {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 25%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
  filter: alpha(opacity=50);
  opacity: 0;
}
footer {
  width: 100%;
  height: 362px;
  background-color: #2E3847;
  float: left;
}
.social {
  height: 100px;
  padding-top: 20px;
  margin-left: 43.5%;
}
 .social li {
  float: left;
  list-style: none;
  display: inline;
  height: 84px;
  width: 84px;
  padding: 10px 1% 0 0;
}
 .social .linkedin a {
  float: left;
  background: url(../img/social_button.png) 0px 0px no-repeat;
  height: 84px;
  width: 84px;
 }
 .social .twitter a {
  float: left;
  background: url(../img/social_button.png) -336px 0px no-repeat;
  height: 84px;
  width: 84px;
}
footer h2 {
  text-align: center;
  color: #FFFFFF;
  padding-top: 46px;
  margin-left: -1%;
}
footer p{
  text-align: center;
  color:#FFFFFF;
   margin: 65px 5px;
}
 }